@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
.yantramanav-thin {
  font-family: "Yantramanav", system-ui;
  font-weight: 100;
  font-style: normal;
}

.yantramanav-light {
  font-family: "Yantramanav", system-ui;
  font-weight: 300;
  font-style: normal;
}

.yantramanav-regular {
  font-family: "Yantramanav", system-ui;
  font-weight: 400;
  font-style: normal;
}

.yantramanav-medium {
  font-family: "Yantramanav", system-ui;
  font-weight: 500;
  font-style: normal;
}

.yantramanav-bold {
  font-family: "Yantramanav", system-ui;
  font-weight: 700;
  font-style: normal;
}

.yantramanav-black {
  font-family: "Yantramanav", system-ui;
  font-weight: 900;
  font-style: normal;
}

body,
html {
  max-width: 100%;
  width: 100% !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Yantramanav", system-ui;
  font-weight: 400;
}
.stm-navigation__default > ul > li > a{
	font-family: "Yantramanav", system-ui;
    font-weight: 400;
}
h1{
  font-family: "Yantramanav", system-ui;
  font-weight: 500;
  font-size: 40px;
}

h2{
  font-family: "Yantramanav", system-ui;
  font-weight: 500;
  font-size: 30px;
}

h3{
  font-family: "Yantramanav", system-ui;
  font-weight: 500;
  font-size: 20px;
}

.stm-header {
  margin: 0px;
}
.all-white *{
    color: #fff !important;
}
.all-white .vc_tta-title-text{
  color: #fff !important;
}
.stm_titlebox_style_2 {
    padding: 250px 0px !important;
    margin-bottom: 60px !important;
}
.stm-header__row_color_center > .container > .stm-header__row_center{
    padding: 0px 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}
.stm_titlebox_style_2 .stm_titlebox__title.h1 {
    color: #ffff !important;
}
.stm-footer .footer-widgets{
  text-align: center;
}
.widget.widget-footer ul li{
    padding: 0px 15px;
   display: inline-block;
}
.stm_footer_layout_4 .stm-footer .footer-widgets{
  text-align: center;
}

.stm_footer_layout_4 .stm-footer{
  padding-bottom: 0px !important;
}
.stm-footer__bottom:before {
    background-color: #000b43;
}

@media screen and (max-width: 1400px) {
  .stm-header{
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
  }
}
@media (max-width: 1023px){

html body, html body .main_font, .stm_posts_list_style_2 .stm_posts_list_single{
    font-size: 13px !important;
    line-height: 22px !important;
}
.stm-header {
	position: fixed;
    top: 0;
    bottom: 0;
    left: -270px;
    background-color: #fff;
    padding: 16px 0 16px;
    width: 270px;
    margin: 0;
    margin-bottom: 0 !important;
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 100;
}
.stm_header_style_1 .stm_mobile__header{
	background-color: #fff !important;
    margin: 0;
    position: relative;
}
.stm-navigation__default > ul > li > a {
	color: #fff !important;
}
}
@media screen and (max-width: 768px) {
.h1, h1 {
    font-size: 26px !important;
    line-height: 1.2 !important;
}
  .masthead-services, .mobihide {
    display: none;
  }
  .home-services .vc_column-inner *{
  	text-align: center;
  }
}